/*mobile menue*/
.navbar-header{
    position: relative;
}
#mobile-nav-open-btn{
    font-size: 30px;
    color: #ffd740;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top:6px;
    display:none;
}
#mobile-nav{
    position: fixed;
    width: 100%;
    /*by default height will be 0%*/
    height: 0%;
    top:0;
    left:0;
    z-index: 3;
    background:  rgba(0, 0, 0, .9);
    transition: all 300ms linear;
    overflow: hidden;
}
#mobile-nav-close-btn{
    font-family: "Raleway";
    font-size: 70px;
    color: #ffd740;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    transition: .3s;
}
#mobile-nav-content{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}

#mobile-nav ul li{
    margin-bottom: 20px;
}
#mobile-nav a{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display:inline;
    transition: .3s;
color:#ffd740;


}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover
{
    color: white;
    background: none;
}

.black-nav-top #mobile-nav ul.nav > li.active > a{
    color: white;
    font-weight: 500;
}

/*FOR LARGE DEVICEs DESKTOP AND LAPTOP*/
@media (min-width: 1200px){
    
}
/*FOR MEDIUM DEVICES LANDSCAPE TABLET AND MEDIUM DESKTOP*/

@media (min-width: 992px) and (max-width:1199px){
    
}

/*SMALL devices partrait tablet and Small desktop*/
@media (min-width: 768px) and (max-width:991px) {
    .navbar {

        }
    .navbar-nav {
        
    }
    .site-nav-wrapper{
        padding: 0 0px;
    }
    
    /*hero*/
    #hero{
        height: 85vh;
    }
    
    #about-content-box{
        width: 100%;
        height: 350px;
    }
    /*stats*/
    .stats-item{
        padding: 20px 0;
    }
    /*footer*/
    #footer-copyrights{
        text-align: center;
    }

    /*doing -left part*/

    .doing-info{
        margin-top: 30px;
    }
    .image_part h1{
        text-align: center;
    }
    .image_part img{
        margin: 0 auto;
    }

    
    .image_part h1{
        text-align: center;
        font-size:25px;
    }
    

    /* margin-top*/
    .margin-top{
        margin-top: 20px;
    }
/*doning right part*/
.doing-heading{
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.doing-heading h1{
    text-align: left;
}
.doing-heading .underline{
    display: none;
}
/*about me*/
.about-info h1{
    font-size: 25px;
}

/*progress bar*/
#progress-elements{
    padding: 40px 0px;
}
.skill{
    margin: 40px 0px;
}
/*GALLERY SECTION*/
.galary-heading{
    margin-bottom: 20px;
}
.galary-heading h1{
    font-size: 25px;
}

/*Blog********/
.blog-content{
    margin: 20px 0px;
}

.blog-heading{
    margin-bottom: 0px;
}
.blog-heading h1{
    font-size: 25px;
}
/*about section */
.footer-right{
    margin-top: 60px;
    width: 80%;
}
.footer-right h1{
    margin-bottom: 20px;
    font-size: 25px;
}
.footer-left h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.myself{
    background-position: top 60% right 50%;
}
}

/*Extra small devices landscape phone and portrait tablet*/
@media (max-width: 767px){
    .navbar{
        padding: 20px 0px;
    }
.site-nav-wrapper,
.black-nav-top{
    padding: 0;
}

/*mobile nav open btn*/
#mobile-nav-open-btn{
    display: block;
}
    

/*hero area*/
#hero{
    height: 75vh;
}
.main-hero h1{

    font-size: 30px;
}
.main-hero h4{
    font-size: 18px;
}
    /*doning-left part*/

    #doning{
        padding: 1px 0px 10px 0px;
    }
    .doing-info{
        margin-top: 30px;
    }
    .image_part h1{
        text-align: center;
        font-size:25px;
    }
    .image_part img{
        margin: 0 auto;
    }

    /*doning right part*/
    .doing-heading{
        margin-top: 50px;
        margin-bottom: 40px;
        
    }
    .doing-heading h1{
        text-align: left;
        font-size:25px;
    }
    .doing-heading .underline{
        display: none;
    }
    .doing-info h3 a{
        font-size: 20px;
        font-weight: 400;
    }

    /*progress bar*/
#progress-elements{
    padding: 40px 0px;
}
.skill{
    margin: 40px 0px;
}
.skill h4{
    font-size: 20px;
    font-weight: 300;
}
/*all top margin-reduice*/

.margin-top{
    margin-top: 25px;
}
/*about me*/
.about-info h1{
    font-size: 25px;
}
.about_first {
    width: 100%;
    display: block;
    max-width: 100%;

    
}
.about-second{
    width: 100%;
    padding-left: 0;
    display: block;
    margin-top: 30px;
}

/*GALLERY SECTION*/
.galary-heading{
    margin-bottom: 20px;
}
.galary-heading h1{
    font-size: 25px;
}

/*Blog********/
.blog-content{
    margin: 30px 0px;
}
.blog-heading{
    margin-bottom: 0px;
}
.blog-heading h1{
    font-size: 25px;
}

.blog_img img{
max-width: 600px;
}
.blog-content img{
    margin: 0 auto;
}
.blog_info{
    text-align: center;
}

/*about section */
.footer-right{
    margin-top: 60px;
}
.footer-right h1{
    margin-bottom: 20px;
    font-size: 25px;
}



.footer-left h1 {
    font-size: 28px;
    margin-bottom: 30px;
}
#send-btn a{
    font-size: 16px;
    padding: 8px 18px;
}
#send-btn a:hover{
    font-size: 16px;
    font-weight: 400;
}
.myself{
    background-position: top 60% right 45%;
}
}

/*Extra small devices */
@media (max-width: 480px){
    .myself{
        background-position: top 60% right 42%;
    }
}

/*Extra small devices */
@media (max-width: 320px){
    
}
